@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");

body {
  background: linear-gradient(-45deg,  #23a6d5, #23d5ab);

  background-size: 400% 400%;
  /* animation: gradient 8s ease infinite; */
  /* height: 100vh; */
  font-family: "Poppins", sans-serif;
}
header {
  text-align: center;
  padding: 10px;
  /* color: #eee; */
  font-size: 3vw;
}
header h1 {
  letter-spacing: 3px;
  font-weight: 800;
}
header h4 {
  font-weight: 500;
}
/* Container Info Text */
.info-container {
  text-align: center;
  /* background-color: #23a6d5; */
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  /* color: #fff; */
}

.sounds-container {
  margin-top: 40px;
  /* color: #fff; */
  letter-spacing: 2px;
  font-weight: 400;
  /* background-color: yellowgreen; */
}
.sounds-row {
  padding: auto;
  /* background-color: blue; */
}
.sound-icon {
  background: rgba(200, 200, 200, .4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px;
  /* justify-content: center; */
  text-align: center;
}
.sound-icon img {
  width: 100px;
}
button{
  background-color: transparent;
  border: none;
  margin: 10px;
}
#site-link{
  color: rgb(17, 0, 252);
  text-decoration: none;
}
#site-link:hover{
  text-decoration: underline;
}


/* Gradient Keyframes */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 576px) {
  .sound-icon {
    margin: 8px;
  }
}
